@media only screen
and (max-width: 455px) {
  body div#gfb_site_title { font-size: 80%; }
  body #portal-globalnav {
    height: 20px;
  }
  body #portal-globalnav li {
    padding: 0 1em;
  }
  body #portal-globalnav li a {
    line-height: 20px;
  }
  body #portal-searchbox,
  body #portal-globalnav li a {
    font-size: 90%;
  }
  body #portal-searchbox {
    line-height: 20px;
    height: 21px;
  }
  body div #portal-siteactions li {
    padding-right: 5px;
  }
  body #searchfields #SearchableText {
    min-width: inherit;
  }
  body ul#portal-languageselector {
    font-size: 0;
    position: absolute;
    z-index: 10;
    left: 87px;
    top: 26px;
  }
  body #portal-logo img {
    left: -12px;
    width: 80px;
    height: 50px;
  }
  body div ul#portal-siteactions li#siteaction-sign_language,
  body div ul#portal-siteactions li#siteaction-simple_language {
    left: 56px;
  }
  div#highlights-archive {
    right: 10px;
    top: 10px;
    font-size: 80%;
  }
  body .info_of_search {
    width: inherit;
  }
  body div.search_medium {
    height: inherit;
  }
  body #content table {
    display: block;
    overflow: visible;
    width: 0;
  }
  div#portal-header {
    height: 49px;
  }
}

@media only screen
and (max-width: 590px) {
  body div ul#portal-siteactions li#siteaction-sign_language,
  body div ul#portal-siteactions li#siteaction-simple_language {
    width: 24px;
  }
  body div ul#portal-siteactions li#siteaction-sign_language a,
  body div ul#portal-siteactions li#siteaction-simple_language a {
    display: block;
    height: 24px;
    font-size: 0;
  }

  body #portal-siteactions li {
    padding-right: 9px;
  }
}

@media only screen
and (max-width : 605px) {
  #portal-top div#portal-header { background-position: -165px 65px; }
  div#gfb_site_title { font-size: 110%; }
  .teaser_more {padding: 0.5em 0;}
  ul#search-tabs li a { font-size: 80%; }
  #searchfields input.context {margin-right: 1em!important;}
}

@media only screen
and (max-width : 745px) {
  body ul#portal-siteactions li#siteaction-sign_language,
  body ul#portal-siteactions li#siteaction-simple_language {
    position: absolute;
    left: 100px;
    z-index: 30;
    width: 114px;
    background-position: 0 0;
    background-color: #01010D;
  }
  body ul#portal-siteactions li#siteaction-sign_language {
    height: 25px;
  }
  body ul#portal-siteactions li#siteaction-simple_language {
    height: 24px;
  }
  ul#portal-siteactions li#siteaction-sign_language {
    top: 0;
  }

  ul#portal-siteactions li#siteaction-simple_language {
    top: 25px;
  }
}

@media only screen
and (max-width : 745px) {

  div#portal-header {
    background-position: left 62px;
  }

  ul#portal-languageselector { margin: 0; }
  div#portal-header li {
    margin: 0;
  }

  div#portal-header #portal-siteactions {
    background-color: #4f647c;
  }

  div#portal-header #portal-siteactions li a {
    line-height: normal;
  }

  div#gfb_site_title {
    float: none;
    right: -moz-initial;
    right: initial;
    top: -moz-initial;
    top: initial;
    background-color: #4f647c;
    line-height: 28px;
    text-align: right;
    right: 14px;
    top: 0;
  }

  #portal-logo img {
    top: 0;
    left: 0;
  }

 /* hide stuff we don't want */
  h1.frontpage:first-of-type,
  div.welcome_image,
  div#tooltip,
  div#you-have-chosen { display: none; }

/* navigation */
  div#globalnav-group {
    position: fixed;
    bottom: 0;
    height: auto;
    z-index: 9000;
  }

  div#portal-globalnav-box {
    margin: auto;
    width: auto;
  }

  ul#portal-globalnav {
    right: auto;
    width: auto;
  }

  /* move the secondar nav to the bottom */
  dl.portletNavigationTree ul.navTreeLevel0 {
    position: absolute;
    visibility: hidden;
    width: 100%;
  }

  li.navTreeItem {
    display: inline;
    list-style-type: none;
  }

  li.navTreeItem div {
    border-bottom: 1px solid white;
  }

  /* don't use the left col height as the min height for the content area */
  body td#portal-column-one div.visualPadding {
    min-height: -moz-initial;
    min-height: initial;
  }

  /* Leave enough room at the bottom to display the secondary nav */
  body div#footeractions-wrapper + ul {
    padding-bottom: 100%;
  }

  /* hide the hove submenus */
  ul.submenu { display: none; }

/* /navigation */


  td#portal-column-one {
    visibility: hidden;
    width: 1px;
  }

  div#portal-breadcrumbs {
    padding-bottom: 2em;
    border-left: 0;
  }

  span#breadcrumbs-you-are-here { display: none; }

  span.hide-path-bar {
    display: inline;
  }

  span#gfb_text_sizes {
    display: none;
  }

  div.documentActions {
    text-align: left;
    margin: 2em 0 0 0;
    padding-left: 0;
  }

  div#content div.documentActions ul {
    padding-left: 0;
  }

  div#content div.documentActions ul li {
    margin-left: 1em;
  }

  div#content div.documentActions ul li:first-of-type {
    margin-left: 0;
  }

  body div#footeractions-wrapper {
    padding: 0;
  }

  /* linkcollection: show all items */
  div#slc-linkcollection-linkbox { display: none; }
  div.prefetched-docs { display: inline !important; }
  /* /linkcollection */
}

@media only screen
and (max-width : 1000px)
and (min-width : 745px) {
  body div#portal-searchbox {
    position: absolute;
    top: -32px;
    right: 0;
    padding-left: 14px;
  }
  div#portal-header {
    height: 158px;
  }
  div#portal-header #portal-siteactions {
    position: relative;
    z-index: 10;
  }
  #portal-siteactions li { margin-bottom: 0; }
  div#globalnav-group {
    position: absolute;
    top: 126px;
  }
  ul#portal-globalnav {
    width: 100%;
    position: absolute;
    top: 0;
  }
  div#portal-globalnav-box {
    margin:0;
    position: absolute;
    top: 0;
    height: 32px;
    left: 210px;
    width: 100%;
  }
  div#gfb_site_title {
    top: 17px;
  }
  #portal-logo img {
    top: 50px;
    left: 50px;
  }
}

@media only screen
and (max-width : 1000px) {
  td#portal-column-two,
  #portal-personaltools { display: none; }
  div#visual-portal-wrapper { width: auto; }

  #portal-logo img {
    position: absolute;
    width: 100px;
    height: 62px;
  }
  #gfb_text_sizes { z-index: 10; }
  div#portal-top { margin-top: 0; }
  body div.search_fields_narrow,
  body div.search_fields_wide {
    max-width: none;
  }
  div#portal-searchbox {
    float: none;
    width: -moz-initial;
    width: initial;
    position: -moz-initial;
    position: initial;
  }
  #videocontainer_wrapper {
    width: 100% !important;
  }
}
